@media (max-width:993px){
  .navbar__separate{
    padding: 0px !important;
    margin-left: -50px !important;
  }
  .navbar__separate img{
   display: none;
  }
}

@media (max-width:440px){
  .navbar__separate{
    padding: 0px !important;
    margin-left: -10px !important;
  }
 
}

.iconImgNav {
  width: 28px;
  margin-left: 40px;
}

.navbar-nav {
  margin-left: 20px;
}

.cartClass {
  margin: 0 !important;
}


.cartClass {
  margin-left: 80%;
  background-color: #39b8d8a4;
  
}


.navSpace {
  gap: 30px !important;
  margin-right: 40px;
}


.navbar__separate{
  gap: 10%;
}

.nav-item{
  font-weight: 500;
  opacity: 0.8;
}

.nav-item:hover{
  font-weight: 700;
  opacity: 1;
 
}
