@media (max-width: 801px){
.FormTitleClass{
  display: block !important;
  color: white;
  margin-bottom: 20px;
  width: 370px;
  background-color: #39B8D8;
}
  
  .regForm{
  display: flex !important;
  flex-direction: column;
  margin: 0 auto;
  border: solid 2px cornflowerblue;

  width: 415px;

 
  }  


  .regForm button {
    margin-left: 0px !important;
  }
}




.regForm{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:5px;
    
    
    }
    .regForm input{
    border: solid rgba(128, 128, 128, 0.253) 1px;
   
  }
   .regForm label{
        font-size: 15px;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .regForm button {
      margin-left: 40px;
      background-color: #39B8D8;
    }
 

          .checkDiv{
            display: flex;
            align-items: center;
            
          }
          .checkDiv p {
            text-align: center;
            margin-top: 15px;
          }
          .checkDiv input{
            margin-top: 5px;
            transform: scale(2);
            margin-right: 10px; 
          }

    
