

.ProdItem__cont{
  border: solid 1px gainsboro;
  width: 170px;
  height: 140px;
  color:gray;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(210, 210, 210, 0.535);
  
}

.productContContainer__cont{
margin-left: -95px;
}


@media(max-width:1238px){
  .productContContainer__cont{
    margin-top:30px ;
    display: flex;
    margin-left: 0px ;
  }
}



@media(max-width:560px){
  .ProdItem__cont{
  width: 140px !important;
  height: 140px !important;
  margin-left: 30px;
  }
}


@media(max-width:350px){
  .productContContainer__cont{
  flex-direction: column;
  gap: 30px;
  }
  .ProdItem__cont{
 margin: 0 auto;
    }
}