@media (max-width:790px){
    .ImgContMedia{
        display:flex;
        flex-direction: column !important;
    }
}
.ImgContMedia{
    background-image: url(../../imgs/fondo.png);
    
}

.ProductClass{
margin-top: 100px;
}

.ImgHidden{
    display: none !important;
}

.ImgDisplay{
    margin-top: 50px;
    display: flex;
    width: 600px;
    text-align: center;
    border: solid 2px #0697bb !important;
  border-width: 3px !important;
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
    
}

.sectImgText{
    border: solid 1px #0697bb;
    border-radius: 5px;
    padding: 10px;
    background-color: azure;
}

.sectImgText h2{
    color: #0697bb;
    
}

.sectImgText p {
    color: gray;
    font-weight: bold;
}

.sectImgText button{
    color: white;
    font-weight: bold;
    background-color: #0697BB;
  
}

.ItemsegImg{
    margin-top: 100px !important;
flex-direction:row-reverse;
}