@media (max-width:790px){
    .ImgContMedia{
        display:flex;
        flex-direction: column !important;
    }

    .sectImgText{
        background-color: white
    }

    .sectImgText h2{
        font-weight: 600;
        
    }
 
}

@media (max-width:440px){
.ImgContMedia img{
    margin-top: 30px;
    width: 300px !important;
  
}
}

.ProductClass{
margin-top: 100px;
}


.ImgDisplay{
 margin-top: 50px;
 width: 600px;  
 background-color: #f5f8f8 !important;
 text-align: center;
background: none;
    
}

 /*  sombra de contenedor */
.sectImgText{
    padding: 10px;
    border-radius:0px 10px 10px 0px;
    -webkit-box-shadow: 4px -5px 15px 2px #B0DEFF; 
box-shadow: 4px -5px 15px 2px #cfdee9;
}

.sectImgText h2{
    color: #0bb6e0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sectImgText p {
    color: rgba(110, 110, 110, 0.705);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sectImgText button{
    color: white;
    font-weight: 700;
    background-color: #0697bbb9;
    
  
}

.ItemsegImg{
    margin-top: 100px !important;
    flex-direction:row-reverse;
}