@media (max-width: 801px){
  .cont-title{
 margin: 0 auto;
 
 
 
  }  
}

.cont-title{
  
  width: 400px;
margin-top: 70px;}
.cont-title img{
  width: 50px;
  margin-bottom: 20px;
}
  .cont-title h1{
    font-weight: bolder;
    color: #0697bb
}
  .cont-title h4{
      line-height: 35px;
      color: gray;
  }

