@media (max-width: 801px) {
  .cont-title {
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .cont-title {
    width: 300px !important;
  }
}

.cont-title {
  width: 400px;
  margin-top: 70px;
}

.cont-title h1 {
  font-weight: bolder;
  color: #0697bb;
}
.cont-title h4 {
  line-height: 35px;
  color: gray;
}
