@media (max-width:980px){
    .CardsCont{
        display:flex;
        flex-direction: column;
    }
}

.gridCards{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    margin-top: 10px;
    gap: 100px;
    
    
}

.card-body{
    border-top: 1px solid rgba(90, 89, 89, 0.322);
}

.card-body a{
    display: flex;
    justify-content: center;
    width: 100px;
    margin-bottom: 15px;
    
}

.card-title{
    text-align: center;
    color: #0697bb;
    font-weight: 600;
}

.card-text{
    font-weight: 500;
    
    text-align: center;
}

.cardCartDiv{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    
}

.cardCartDiv p{
    margin-bottom: 5px;

}

.cardCartDiv a{
    margin-top: 10px;
}

.buttonItems{
    border: solid 1px;
    height: 40px;
    width: 120px;
    background-color: #0697bb;
    color: whitesmoke;
    font-weight:500;
}
.Sumar{
    border: solid 1px rgba(0, 0, 0, 0);
    height:38px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: -2px;
    color: rgb(13, 135, 206);
}

.Restar{
    border: solid 1px rgba(0, 0, 0, 0);
    height:38px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-right: -3px;
    z-index: 3;
    color: rgb(15, 188, 201);
}