@media (max-width:980px){
    .CardsCont{
        display:flex;
        flex-direction: column;
    }
}

.gridCards{
    margin-top: 40px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr!important;
    gap: 20px;
    margin-left: 65px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.cardConts{
    width: 270px;
    text-align: center;
    opacity: 0.6;
}

.cardConts:hover{
    transform: translateY(-20px);
    opacity: 0.9;
}

.card-text{
    font-weight: 500;
}
.card-title{
    color: #0697bb;
}
.cardConts button{
    width: 100%;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}
.buttonItems{
    border: solid 1px;
    height: 40px;
    width: 120px;
    background-color: #0697bb;
    color: whitesmoke;
    font-weight:500;
}
.Sumar{
    border: solid 1px rgba(0, 0, 0, 0);
    height:38px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: -2px;
    color: rgb(221, 245, 248);
    background-color: #0697bb;
}

.Restar{
    border: solid 1px rgba(0, 0, 0, 0);
    height:38px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-right: -3px;
    z-index: 3;
    color: rgb(15, 188, 201);
}
