.imgText{
    width: 45%;
    margin: 0px;
  }

  .imgSecthead{
     width: 50%;
     margin: 0 auto;
  }

  .CardHorizontal{
      width:500px;
    

  }

  .SectionImgCard{
    display: none
  
  }


 .SectionImg__p{
     
     font-weight: bold;
 }