 @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

@media (max-width:660px){
  .divBar__desktopView{
    display: none;
  }

  .divBar__mobileView{
    display: block !important;
  }
  
}
  
.barCont{
background-color: #0697bb;

}

.DivBarTitle{
    font-weight: 600;
}



.barCont p,h3{
    font-weight: bold;
    animation-duration: 3s;
    animation-name: slidein;
}


.divBar__mobileView{
  display: none;
}
