@media (max-width:680px){
.PClassMov{
  display: block !important;
  text-align: center;
  width: 115px;
}

  .PClass{
    display: none;
  }

  .h4{
    display: flex !important;
    
  }

  .responsiveDivFix{
    margin-top: 25px;
  }

}

@media (max-width:406px){
  .responsiveDivFix{
    margin-top: 0px;
  }
}


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.barCont{
background-color: #0697bb;

}

.DivBarTitle{
    font-weight: 600;
}



.barCont p,h3{
    font-weight: bold;
    animation-duration: 3s;
    animation-name: slidein;
}