.sectImgMargin{
    margin-left: -100px;
   
    
}



*{margin: 0 auto;
border-style: border-box;}

.titleService{
    width: 105% !important;
    height:63px !important;
    margin-top: 48px;
    background-color:#0697bb;
    margin-left: -20px;
     }


@media (max-width:670px){
    .titleService{
   width: 105% !important;
    }
}

@media (max-width: 900px){
    .titleService{
   width: 109% !important;
    }
}

.services__imgs{
    display: none;
}

.services__content{
    display: flex;
    margin-top: 30px;
    height: 500px !important;
}

@media(max-width:1238px){
    .services__content{
        display: block ;
        height: 600px !important;
    }
}

@media (max-width:940px) {
    .services__sidebar{
        display: none;
    }

   .services__content{
    
        margin-left: -50px !important;
        height: 600px !important;
    }
}
@media (max-width:580px) {
    .services__imgs{
        display: block;
        width: 100%;
    }
}


