.sectImgMargin{
    margin-left: -100px;
   
    
}

*{margin: 0 auto;
border-style: border-box;}

.titleService{
    width: 105% !important;
    height:63px !important;
    margin-top: 48px;
    background-color:#0697bb;
    margin-left: -20px;
     }


@media (max-width:670px){
    .titleService{
   width: 105% !important;
    }
}

@media (max-width: 900px){
    .titleService{
   width: 109% !important;
    }
}



