.sectImgMargin{
    margin-left: -100px;
   
    
}

@media (max-width: 800px){
    .header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    }

    .sectionImgTwo{
        display: flex;
        flex-direction: column !important;
    }
}

